## mako
## -*- coding: utf-8 -*-
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Foire aux questions – FAQ </title></%block>



<section class="container about" style="width: auto;">
 
<section class="vision">


## FAQ Section ##
<section id="faq">

<article>
<h2 style="text-align:center;">Foire aux questions – FAQ</h2>
<p><strong>Qu’est-ce qu’un CLOM (ou MOOC)?</strong><br />
Les CLOM, ou cours en ligne ouverts et massifs (en anglais <i>MOOC – Massive Open Online Courses</i>), sont des cours offerts entièrement sur Internet, gratuitement et
pour tous. Échelonnés sur quelques semaines, ils proposent une variété d’activités individuelles ou collectives soutenues par des vidéos, des textes et des questionnaires interactifs.</p>
<p> Ce type de cours, popularisé aux États-Unis en 2012, attire aujourd’hui des millions de personnes du monde entier. </p>

<p><strong>Qu’est-ce que la TÉLUQ?</strong><br />
Fondée en 1972, la TÉLUQ est la seule université francophone en Amérique du Nord à offrir tous ses cours à distance. Chaque année, c’est près de 20 000 étudiants qui y font leurs études universitaires, du 1<sup>er</sup> au 3<sup>e</sup> cycle. La TÉLUQ se démarque également par sa performance en recherche dans divers domaines disciplinaires.</p>

<p><strong>À qui s’adressent ces cours?</strong><br />
Les cours en ligne ouverts et massifs de la TÉLUQ s’adressent à tous. Il suffit d’avoir un accès Internet, une bonne maîtrise du français, du temps et de l’intérêt pour les sujets présentés.</p>

<p><strong>Combien coûte l’inscription à un cours?</strong><br />
C’est tout à fait gratuit, et ce, pour toute la durée des cours. Une fois la formation terminée, vous pouvez obtenir gratuitement une  attestation de participation ou, moyennant la somme de 49 $ CA, une  attestation de réussite reconnue par la SOFEDUC (émission d&rsquo;unités d&rsquo;éducation  continue - UEC).</p>


<p><strong>Comment se déroule un cours?</strong><br />
Chaque semaine, des activités sont proposées : visionnement de courtes vidéos, lecture de textes et validation des connaissances acquises par des questionnaires interactifs. </p>


<p><strong>Quelle est la durée de ces cours?</strong><br />
Le cours sur la conciliation travail-famille dure cinq semaines, et celui sur l’introduction à l’histoire politique du Québec dure six semaines.</p>

<p><strong>Quelle sera la charge de travail?</strong><br />
Sur une base volontaire, le participant peut, s’il veut faire l’expérience entière des CLOM, prévoir environ une heure par semaine pour les activités proprement dites du cours, et d’une à deux heures pour les autres activités (lectures complémentaires, participation au forum, etc.). Le participant peut aussi décider de seulement prendre connaissance du matériel proposé.
</p>


<p><strong>Quelle est la date de début des cours?</strong><br />
Les cours seront offerts à compter de février 2016.</p>

<p><strong>De combien de temps dispose-t-on pour terminer le cours?</strong><br />
Bien que le contenu des cours s’échelonne sur cinq et six semaines, selon le cas, les participants disposent de huit semaines pour le terminer.</p>

<p><strong>Qu’obtient-on à la fin du cours?</strong><br />
  Les participants qui complètent la  formation et les activités d&rsquo;évaluation reçoivent une <strong>attestation de participation</strong>.  Il est à noter que la participation aux questions d&rsquo;évaluation n&rsquo;est pas  obligatoire pour suivre ces cours, mais qu&rsquo;elle l&rsquo;est pour l&rsquo;obtention d&rsquo;une  attestation de participation. </p>
<p>Les  participants qui réussissent les quiz et autres exercices d&rsquo;évaluation proposés  dans le cours reçoivent, moyennant  la somme de 49 $ CA, une <strong>attestation de réussite</strong> reconnue par la SOFEDUC (émission d&rsquo;unités d&rsquo;éducation continue - UEC).</p>
<p><strong>En quoi ces cours sont-ils différents des cours à la TÉLUQ?</strong><br />
Les CLOM de la TÉLUQ durent cinq à six semaines, sont offerts gratuitement et ne sont pas crédités. Les cours réguliers de la TÉLUQ durent 15 semaines, sont crédités et mènent à un diplôme ou à un grade universitaire.</p>

<p><strong>À la fin de ce cours, est-ce que je peux décider de m'inscrire à un cours régulier? Est-ce que ces semaines seront prises en considération?</strong><br />
Bien sûr, il est possible de s’inscrire en tout temps aux cours réguliers de la TÉLUQ qui mènent à l’obtention de crédits universitaires ou d’un diplôme, en remplissant la demande d’admission accessible à l’adresse suivante : <a href="http://www.teluq.ca/admission"><b style="color:black;"> www.teluq.ca/admission</b></a>. Toutefois, les CLOM qui auront été suivis au préalable ne seront pas crédités.</p>
<br /><br />
<hr/>
<h3>Questions techniques</h3>
</br>

<p><strong>Comment s’inscrire à un cours?</strong><br />
Vous devez d’abord créer un compte sur Ulibre, puis vous inscrire au cours de votre choix. Pour créer un compte, cliquez sur Inscription dans la barre de menu et remplissez le formulaire en ligne. Vous recevrez un courriel d'activation. Suivez les consignes de ce courriel pour activer votre compte. </p>

<p><strong>Que faire si votre nom d’utilisateur Ulibre est déjà utilisé?</strong><br />
Composez simplement un nom d'utilisateur différent. Par exemple, essayez d'ajouter un nombre à la fin.
</p>

<p><strong>Que faire si vous ne recevez pas de courriel d’activation?</strong><br />
Si vous n’avez pas reçu de courriel d’activation, cela peut être pour les raisons suivantes : 
<ul>
 	<li>Il y avait peut-être une faute de frappe dans votre adresse de courriel.</li></br>
 	<li>Votre logiciel de courrier électronique a peut-être considéré le courriel d’activation comme un pourriel (spam). Vérifiez votre dossier de courrier indésirable.</li></br>
 	<li>Vous utilisez peut-être une ancienne version de fureteur. Nous recommandons de télécharger la version courante de votre fureteur.</li></br>
 	<li>JavaScript est peut-être désactivé dans votre fureteur. Vérifiez les paramètres de votre fureteur pour confirmer que JavaScript est bien activé.</li>
 </ul>
 Si les problèmes d’activation persistent, nous vous recommandons de créer un nouveau compte. Le vieux compte, inutilisé, disparaîtra plus tard sans que vous ayez à vous en soucier.
 </p>

<p><strong>Que faire en cas de problèmes de connexion (mot de passe / courriel non reconnus)?</strong><br />
Vérifier les paramètres de votre fureteur pour vous assurer que vous avez bien une version récente, puis essayez à nouveau de vous connecter. Si l'accès est impossible, créez un nouveau compte en utilisant une autre adresse. Le vieux compte, inutilisé, disparaîtra plus tard sans que vous n’ayez à vous en soucier.</p>

<p><strong>Soutien technique</strong><br />
Pour obtenir du soutien technique ou rapporter des erreurs en lien avec la plateforme, veuillez nous écrire à : <a href="mailto:support-ulibre@teluq.ca?Subject=Ulibre - Demande de soutien technique" target="_top">support-ulibre@teluq.ca</a>
</p>

<p>Note: La section « Questions techniques » est inspirée librement de la page « <a href="https://www.france-universite-numerique-mooc.fr/help" target="_top">Aide</a>  » de France université numérique</p>

</article>
<hr class="fade-right-hr-divider">
</section>


</section>

</section>
