## mako
## -*- coding: utf-8 -*-
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>À propos de Ulibre</title></%block>

<section class="container about" style="width: auto;">
 
<section class="vision">

## About Section ##
<section id="about">


 <article>
 <h2 style="text-align:center;">À propos d'Ulibre</span></h2>

<p>La TÉLUQ, pionnière de la formation à distance en ligne au Québec, entreprend la diffusion de cours en ligne ouverts et massifs ou CLOM (en anglais MOOC pour Massive Open Online Courses). Avec l’initiative Ulibre, la TÉLUQ veut rendre disponibles en accès libre des formations de niveau universitaire de qualité en langue française, quel que soit l'endroit où se trouvent les apprenants et quel que soit leur nombre.</p>
 <p>Dès l’automne 2014, nous offrirons deux cours gratuits et ouverts à tous :
 <ul>
 <li>Introduction à l’histoire politique du Québec</li>
</br>
 <li>Conciliation travail-famille: défis et solutions</li>
 </ul>
 <p>De niveau universitaire, ces cours traitent de sujets uniques dans la francophonie. Créés par une équipe chevronnée, ils rendent accessible à tous du contenu de qualité, dans une formule dynamique et interactive.</p>

 <p>L’initiative Ulibre est sous la responsabilité conjointe du professeur <i>Gilbert Paquette</i>, directeur de recherche au Centre de recherche LICEF de la TÉLUQ et de <i>Martin Noël</i>, directeur des affaires académiques de l’institution.</p>


<p>L’équipe de projet multidisciplinaire regroupe des professionnels du Centre de recherche LICEF, du Service technopédagogique ainsi que du Service des communications et des affaires publiques. Elle comprend également des spécialistes en sciences de l’éducation des unités d’appartenance des professeurs responsables des cours.
</p>
<p>Ulibre utilise la technologie <a href="http://code.edx.org/">Open edX</a>.</p>


 </article>



 <hr class="fade-right-hr-divider">
 </section>



</section>

</section>
