## mako
## -*- coding: utf-8 -*-
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Charte des utilisateurs</title></%block>

<section class="container about" style="width: auto;">
 
<section class="vision">


<section id="honor">


 <article>
 <h2 style="text-align:center;">Charte des utilisateurs</h2>

<p>En m’inscrivant à Ulibre, je m'engage à :
 <ul>
 <li>Ne pas tricher pour améliorer mes résultats;</li></br>
 <li>Ne posséder qu’un seul compte d’utilisateur;</li></br>
  <li>Ne laisser personne d’autre utiliser mon compte d’utilisateur;</li></br>
 <li>Ne pas tenter d’améliorer ou de dégrader les résultats des autres utilisateurs;</li></br>
  <li>Faire les exercices, devoirs et examens par moi-même;</li></br>
 <li>Ne remettre que mes propres travaux et m’assurer que ceux-ci ne contiennent aucun matériel plagié;</li> </br>
 <li>Citer correctement les sources du contenu produit par d’autres personnes lorsque de tels emprunts sont autorisés;</li></br>
 <li>Ne pas publier ou divulguer les réponses aux tests, questions, exercices, travaux et examens;</li></br>
  <li>Échanger et commenter dans les forums d’Ulibre des contenus et ressources des cours sans toutefois divulguer les réponses;</li></br>
 <li>Être courtois et respectueux à l’égard des autres utilisateurs et de leurs commentaires;</li></br>
  <li>Assumer l’entière responsabilité de mes propos et commentaires;</li></br>
 <li>Respecter les « Conditions générales d’utilisation » de Ulibre;</li>
 </ul>
</p>

 <p>Votre accès à Ulibre pourra être suspendu si vous ne respectez pas les obligations mentionnées plus haut. </p>

<p>Note: Le texte ci-haut est inspiré librement des « <a href="https://www.edx.org/edx-terms-service" target="_top">Terms of Service</a> » de edX et de la « <a href="https://www.france-universite-numerique-mooc.fr/honor" target="_top">Charte utilisateurs</a>  » de France université numérique</p>


 </article>



 <hr class="fade-right-hr-divider">
 </section>



</section>

</section>
