{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans with site_name='Ulibre' %}u"Vous recevez ce courriel (mail) parce que vous avez demandé de changer le mot de passe de votre compte Ulibre."{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
http://{{domain}}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

{u"Si vous n'avez pas demandé ce changement, vous pouvez ignorer ce courriel - nous n'avons pas encore réinitialisé votre mot de passe."}
{u"Merci d'utiliser Ulibre!"}

{% endautoescape %}
