## mako
<%! 
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
%>

<div class="demande-renseignement" style="text-align:center;border-style: dashed; border-width:thin; margin-left:200px; margin-right: 200px; background-color:#99CC66;">
<p>La premi&egrave;re diffusion des CLOM de la T&Eacute;LUQ sur la plateforme Ulibre est termin&eacute;e.<br/>
   Pour obtenir de l'information sur les prochaines diffusions et des nouveaut&eacute;s,
   <a style="color: #FF0000" href="https://docs.google.com/forms/d/11ei6TCqyXJfa7FdDL1HOmzLQRBH179VmGPKh1_yNLEw/viewform?usp=send_form">laissez-nous vos coordonn&eacute;es.</a>
</p>
<p>Si le sujet des finances personnelles et de la fiscalité vous intéresse, vous pouvez également vous inscrire au CLOM de l’UQTR « La littératie financière et fiscale ouverte à tous », qui débutera le 9 mars prochain. <a style="color: #FF0000" href="http://www.uqtr.ca/mooc">Pour en savoir plus.</a></p>
</div>

<div class="wrapper-footer">
  <section class="actions">        
        <div class="secondary-actions">
          <div class="social-sharing">
            <a class="share" target="_blank" title="La TÉLUQ sur Facebook" href="http://www.teluq.ca/facebook">
              <img src="/static/themes/teluq/images/social/picto_facebook.159bfb410191.png">
            </a>
            <a class="share" target="_blank" title="La TÉLUQ sur Twitter" href="http://www.teluq.ca/twitter">
              <img src="/static/themes/teluq/images/social/picto_twitter.3bdd38734ba0.png">
            </a>
            <a target="_blank" title="Fils RSS" class="Fils RSS" href="http://www.teluq.ca/site/infos/rss/">
              <img src="/static/themes/teluq/images/social/picto-rss.f805b0047b64.png">
            </a>
          </div>
        </div>
    </section>
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${marketing_link('APROPOS')}">À propos</a></li>
          <li><a href="/faq">Foire aux questions (FAQ)</a></li>
          <li><a href="/tos">Conditions générales d'utilisation</a></li>
          <li><a href="/honor">Charte des utilisateurs</a></li>
           <li><a href="${reverse('remerciements')}">Remerciements</a></li>
          <li><a href="${reverse('contact')}">Nous joindre</a></li>

        </ol>       
       ## <ol>
        ##  <li><a href="${reverse('tos')}">${_('Terms of Service')}</a></li>
        ##  <li><a href="${reverse('tos')}#honor">${_('Honor Code')}</a></li>
        ##  <li><a href="${reverse('tos')}#privacy">${_('Privacy Policy')}</a></li>
        ##  <li><a href="${reverse('tos')}#copyright">${_('Copyright')}</a></li>  
        ## </ol>
      </nav>
    </div>
    <div class="references">
      <a href="http://openedx.org" target="_blank" title="Open edX.">
        <span class="sr">${_('Powered by {platform_name}').format(platform_name='Open edX')}</span>
        <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag.png" height="50" alt="${_('Powered by {platform_name}').format(platform_name='Open edX')}"/>
      </a>
    </div>
  </footer>
</div>