## mako
<%! 
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
%>
<p style="color:#148338;text-align:center;">Prochaine diffusion des cours : février 2016</p>
<div class="wrapper-footer">
  <section class="actions">        
        <div class="secondary-actions">
          <div class="social-sharing">
            <a class="share" target="_blank" title="La TÉLUQ sur Facebook" href="http://www.teluq.ca/facebook">
              <img src="/static/themes/teluq/images/social/picto_facebook.159bfb410191.png">
            </a>
            <a class="share" target="_blank" title="La TÉLUQ sur Twitter" href="http://www.teluq.ca/twitter">
              <img src="/static/themes/teluq/images/social/picto_twitter.3bdd38734ba0.png">
            </a>
            <a target="_blank" title="Fils RSS" class="Fils RSS" href="http://www.teluq.ca/site/infos/rss/">
              <img src="/static/themes/teluq/images/social/picto-rss.f805b0047b64.png">
            </a>
          </div>
        </div>
    </section>
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${marketing_link('APROPOS')}">À propos</a></li>
          <li><a href="/faq">Foire aux questions (FAQ)</a></li>
          <li><a href="/tos">Conditions générales d'utilisation</a></li>
          <li><a href="/honor">Charte des utilisateurs</a></li>
           <li><a href="${reverse('remerciements')}">Remerciements</a></li>
          <li><a href="${reverse('contact')}">Nous joindre</a></li>

        </ol>       
       ## <ol>
        ##  <li><a href="${reverse('tos')}">${_('Terms of Service')}</a></li>
        ##  <li><a href="${reverse('tos')}#honor">${_('Honor Code')}</a></li>
        ##  <li><a href="${reverse('tos')}#privacy">${_('Privacy Policy')}</a></li>
        ##  <li><a href="${reverse('tos')}#copyright">${_('Copyright')}</a></li>  
        ## </ol>
      </nav>
    </div>
    <div class="references">
      <a href="http://openedx.org" target="_blank" title="Open edX.">
        <span class="sr">${_('Powered by {platform_name}').format(platform_name='Open edX')}</span>
        <img src="https://sites.google.com/site/bondak/Home/propulse_EDX.jpg" height="50" alt="${_('Powered by {platform_name}').format(platform_name='Open edX')}"/>
      </a>
    </div>
  </footer>
</div>